/** CSS STYLE **/
:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light-coloured: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

section {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

header::before {
  content: url('../images/background.png');
  /*background-image: url('../images/background.png');*/
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
}

.header-section {
  position: relative;
  height: 525px;
}

.titel {
  height: 525px;
}

.titel h1 {
  color: var(--main);
}

.titel-img {
  position: absolute;
  top: 55px;
	right: -270px;
}

.description {
  display: flex;
  justify-content: space-between;
}

.description-col-left {
  width: 50%;
  margin-right: 15px;
}

.description-col-right {
  width: 50%;
  margin-left: 15px;
}

.description-col-right a {
  display: inline-flex;
  background-color: var(--main);
  color: var(--white);
  padding: 12px 24px;
  margin-top: 24px;
  text-decoration: none;
  text-transform: uppercase;
}