/** CSS STYLE **/
:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light-coloured: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

.background-brown {
  background-color: var(--brown);
}

.background-white {
  background-color: var(--white);
}

.background-light-coloured {
  background-color: var(--light-coloured);
}

.translucent-white-text {
  color: var(--translucent-white);
}

.white-text {
  color: var(--white);
}

.dark-text {
  color: var(--dark)
}

.main-text {
  color: var(--main)
}


.brown-text {
  color: var(--brown) !important;
}

.translucent-dark-text {
  color: var(--translucent-dark);
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'Neucha', cursive;
  font-weight: normal;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.conteiner {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

header {
  position: relative;
  overflow: hidden;
}

header::before {
  content: "";
  background-image: url('../images/background.png');
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 10%;
}

.titel {
  height: 525px;
}

.titel-img {
  position: absolute;
  top: 35px;
  right: -160px;
}

.description {
  margin-top: 185px;
  display: flex;
  justify-content: space-between;
}

.description-col-left {
  width: 50%;
  margin-right: 15px;
}

.description-col-right {
  width: 50%;
  margin-left: 15px;
}

.btn {
  display: inline-flex;
  background-color: var(--main);
  color: var(--white);
  /*padding: 12px 27px;*/
  padding: 11px 23px 12px 24px;
  margin-top: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

/*Секция с видео*/

.video-section {
  box-sizing: border-box;
  height: 805px;
}

.video-titel {
  text-align: center;
  margin-bottom: 30px;
}

.video-titel p {
  margin-top: 29px;
}

.video {
  display: flex;
  justify-content: center;
}

iframe {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/*Секция навигаций*/

.navigation-section {
  background-color: var(--main-dark);
}

#navigation {
  max-width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  height: 991px;
  box-sizing: border-box;
  background-color: var(--main-dark);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  box-sizing: border-box;
  max-width: 350px;
  background-color: var(--light-coloured);
}

.card-titel {
  font-size: 52px;
}

.color {
  color: var(--white);
}

.card a {
  padding: 24px;
  display: inline-block;
  text-decoration: none;
  color: var(--dark);
}

.card:nth-child(-n+3) {
  margin-bottom: 20px;
}

.card:nth-child(1) {
  background-color: var(--main-dark);
}

.card h2 {
  font-size: 64px;
  margin-bottom: 40px;
  line-height: 1;
}

.card h3 {
  color: var(--main);
}

/*Секция Эфект икеа*/

#ikea-effect {
  height: 905px;
}

.background::before {
  content: "";
  background-image: url('../images/background.png');
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 10%;
}

.wrap {
  display: flex;
}

.left {
  margin-right: 15px;
}

.right {
  margin-left: 15px;
}

.wrap img {
  vertical-align: top;
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.cognitive-distortion {
  margin: 0;
  font-family: "Neucha";
  font-size: 24px;
}

.text {
  font-family: "Neucha";
  font-size: 34px;
  line-height: 40.8px;
}

.sub-titel {
  vertical-align: middle;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 10px;
}

.sub-titel h4 {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: var(--white);
}

.description-section {
  display: flex;
  justify-content: space-between;
}

/*Секция преждевременная оптимизация*/
#premature-optimization {
  height: 855px;
}

#premature-optimization {
  height: 100vh;
}

#distortion-of-novelty {
  height: 880px;
}

#hyperbolic-depreciation {
  height: 937px;
}

#errors-in-planning {
  height: 919px;
}

#premature-optimization {
  height: 855px;
}


/*Подвал*/

footer {
  height: 581px;
}

.send {
  height: 190px;
  display: flex;
  padding: 0 55px;
  justify-content: space-between;
  background-color: var(--main-dark);
}

.send-titel {
  padding: 55px 0;
  width: 50%;
}

.send-form {
  width: 50%;
  padding-top: 36px;
  padding-bottom: 40px;
}

.email {
  font-size: 18px;
}

.regulations {
  margin: 0;
  font-size: 12px;
}

.input-email {
  display: flex;
}

.input-email input {
  box-sizing: border-box;
  height: 50px;
  padding: 15px;
  width: 100%;
  border: 1px solid #E3E3E3;
  border-right: none;
}

.input-email button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 50px;
  width: 70px;
  border: none;
  background-color: var(--main);
}

.input-email button::before {
  content: url('../images/send.svg');
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  margin-top: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 160%;
}

.link {
  color: var(--blue);
}
