/** CSS STYLE **/
:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light-coloured: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

.background-brown {
  background-color: var(--brown);
}

.background-white {
  background-color: var(--white);
}

.translucent-white-text {
  color: var(--translucent-white);
}

.white-text {
  color: var(--white);
}

.dark-text {
  color: var(--dark)
}

.brown-text {
  color: var(--brown) !important;
}

.translucent-dark-text {
  color: var(--translucent-dark);
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'Neucha', cursive;
  font-weight: normal;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

section {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

header::before {
  content: url('../images/background.png');
  /*background-image: url('../images/background.png');*/
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
}

.titel {
  position: relative;
  height: 525px;
}

.titel h1 {
  color: var(--main);
}

.titel-img {
  position: absolute;
  top: 55px;
	right: -270px;
}

.description {
  display: flex;
  justify-content: space-between;
}

.description-col-left {
  width: 50%;
  margin-right: 15px;
}

.description-col-right {
  width: 50%;
  margin-left: 15px;
}

.description-col-right a {
  display: inline-flex;
  background-color: var(--main);
  color: var(--white);
  padding: 12px 24px;
  margin-top: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

/*Секция с видео*/

.video-titel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.video {
  display: flex;
  justify-content: center;
}

iframe {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/*Секция навигаций*/

.navigation-section {
  background-color: var(--main-dark);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  box-sizing: border-box;
  max-width: 350px;
  background-color: var(--light-coloured);
}

.card-titel {
  font-size: 52px;
}

.color {
  color: var(--white);
}

.card a {
  padding: 24px;
  display: inline-block;
  text-decoration: none;
  color: var(--dark);
}

.card:nth-child(-n+3) {
  margin-bottom: 20px;
}

.card:nth-child(1) {
  background-color: var(--main-dark);
}

.card h2 {
  font-size: 64px;
  margin-bottom: 40px;
  line-height: 1;
}

.card h3 {
  color: var(--main);
}

/*Секция Эфект икеа*/
.background::before {
  content: url('../images/background.png');
  /*background-image: url('../images/background.png');*/
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
}

.wrap {
  display: flex;
}

i.img {
  vertical-align: top;
}

.cognitive-distortion {
  margin: 0;
  font-family: "Neucha";
  font-size: 24px;
}

.text {
  font-family: "Neucha";
  font-size: 34px;
  line-height: 40.8px;
}

.sub-titel {
  vertical-align: middle;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 10px;
}

.sub-titel h4 {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: var(--white);
}

/*Секция преждевременная оптимизация*/
.background--brown::before {
  content: url('../images/background.png');
  /*background-image: url('../images/background.png');*/
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover; 
  opacity: 10%;
}

